/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.page__body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1680px;
    margin: 0 auto;
    padding: 5px;
}

/*Mobile first style and layout*/
/*Header and navigation*/
.search_form {
    display: none;
}

.mobile_search_form {
    display: flex;

}

.mobile_search_input {
    border: 1px solid #4F6367;
    padding: 5px;
    width: 98%;
}

.logo_style {
    font-family: 'Bebas Neue';
    font-size: 1.875rem;
    color: #333333;
    text-decoration: none;
}



/*-----------article gallery--------------*/


.article_headline {
    color: #333333;
    font-family: 'Open Sans';
    margin-left: 3px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 3px;
}

.article_gallery {
    margin: 20px auto;

}

.article_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;


}

.card {
    width: 280px;
    height: 280px;
    margin-bottom: 40px;
    margin: 40px 5px;
}

.article_image {
    height: 280px;
    width: 280px;

}

.card_item {
    text-decoration: none;
    color: #333333;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 1.3rem;
}


























/*-----------Footer section------------*/
.page_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    align-items: center;
    text-align: center;
    border-top: 2px solid #4F6367;
    padding-top: 25px;
    padding-bottom: 0px;
}

.some_image {
    width: 32px;
    margin-right: 16px;
}

.footer_card_heading {
    margin-bottom: 7px;
}

.footer_card:first-child .footer_card_heading {
    margin-bottom: 16px;
}

.footer_link {
    text-decoration: none;
    color: #333333;
}


@media only screen and (min-width: 900px) {

    .search_form {
        display: flex;
    }

    .mobile_search_form {
        display: none;
    
    }

    .article_headline {
        text-align: center;
        margin-top: 100px;
        font-size: 50px;
    }

    .article_flexbox {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    .card {
        margin: 60px 60px;
    }
    
    .page_footer {
        flex-direction: row;
        justify-content: space-around;
        height: 9rem;
        padding-top: 0
    }

    .some_image {
        width: 50px;
        margin-right: 16px;
    }


}

