/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.page__body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1680px;
    margin: 0 auto;
    padding: 5px;
}

/*Mobile first style and layout*/

/*Header and navigation*/
.search_form {
    display: none;
}

.mobile_search_form {
    display: flex;
}

.mobile_search_input {
    border: 1px solid #4F6367;
    padding: 5px;
    width: 98%;
}

.logo_style {
    font-family: 'Bebas Neue';
    font-size: 1.875rem;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

/*suggestion part*/

.text_detail {
    margin-bottom: 30px;
}

.image{
    float: right;
    height:200px;
}



.text_heading {
    text-align: center;
    margin-bottom: 15px;
}

.suggestion_text {
    font-size: 0.9rem;
}


/*-----------Footer section------------*/
.page_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    align-items: center;
    text-align: center;
    border-top: 2px solid #4F6367;
    padding-top: 25px;
    padding-bottom: 0px;
}

.some_image {
    width: 32px;
    margin-right: 16px;
}

.footer_card_heading {
    margin-bottom: 7px;
}

.footer_card:first-child .footer_card_heading {
    margin-bottom: 16px;
}

.footer_link {
    text-decoration: none;
    color: #333333;
}

@media only screen and (min-width: 362px) {
    .sugg {
        width: 600px;
        margin: 0 auto;
    }
    

} 

@media only screen and (min-width: 900px) {

    .search_form {
        display: flex;
    }

    .mobile_search_form {
        display: none;
    
    }

    .suggestion_text {
        width: 800px;
        margin: 0 auto;
        font-size: 20px;
            
    }
    
    .image {
        width:400px;
        height: 300px;
    }
    

    .page_footer {
        flex-direction: row;
        justify-content: space-around;
        height: 9rem;
        padding-top: 0
    }

    .some_image {
        width: 50px;
        margin-right: 16px;
    }


}


